@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply font-inter overflow-x-hidden
}

body {
    @apply bg-c_grey-dark w-screen h-screen relative
}

@layer base {
    .cb {
        @apply border-[1px] border-[#f00]
    }
    .mainBox {
        @apply w-screen h-screen relative flex justify-center items-center
        pt-[120px] xl:pb-[150px] font-roboto font-normal
    }
    .mainTitle{
        @apply text-c_grey-white mb-[32px] md:mx-0 mx-[20px]
        md:text-[48px] md:leading-[56.25px]
        text-[31px] leading-[36.33px]
    }
}

@layer utilites {
    input[type="range"] {
        /* настройка полосы */
        width: 100%;
        height: 10px;
        background-color: rgba(251, 229, 77, 1);
        border-radius: 5px;
    }
    .thumb-red::-webkit-slider-thumb {
        background-color: rgba(251, 229, 77, 1);
        border: none;
    }

    .thumb-red::-moz-range-thumb {
        background-color: rgba(251, 229, 77, 1);
        border: none;
    }

}

.container {
    width: 100%;
    height: 35px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    gap: 15px;
}

.input-link {
    width: 80%;
    height: 100%;
}

.input-link-number {
    height: 100%;
    width: 100px;
}

.button-inp {
    width: 100px;
    height: 35px;
    border: 1px solid black;
}

.container2 {
    margin-top: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
}